<!DOCTYPE html>
<html lang="en">

<head>
    <title>Administration Web Page - EyeSecure</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="/pb/img/icon48.png" sizes="48x48">
    <link rel="icon" type="image/png" href="/pb/img/icon16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="/pb/img/icon32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/pb/img/icon128.png" sizes="128x128">
    <script
            src="/pb/js/jquery-3.2.1.slim.min.js">
    </script>
    <script
            src="/pb/js/bootstrap.min.js">
    </script>
    <script
            src="/pb/js/jquery.dataTables.min.js"></script>
    <script
            src="/pb/js/dataTables.bootstrap4.min.js"></script>
   <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet"
          href="/pb/css/dataTables.bootstrap4.min.css" />
    {% block css %}<link rel="stylesheet" href="/pb/css/custom.css" /> {% endblock %}
</head>

<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#navigationBar">
                <span class="icon-bar"></span> <span class="icon-bar"></span> <span
                    class="icon-bar"></span>
            </button>
            {% block img %}<img src="/pb/img/icon48.png" alt="logo" />{% endblock %}
        </div>
        <div class="collapse navbar-collapse" id="navigationBar">
            <ul class="nav navbar-nav">
                {% if username != null %}
                    <li><a style="color: #FFFFFF; text-align: center;" id="navUsername">{{username}}</a></li>
                {% endif %}
                <li><a href="/">Inicio</a></li>
            {% if username != null and role != null and role === "professor" %}
                <li id="slots-menu" class="dropdown"><a
                        class="dropdown-toggle" data-toggle="dropdown" href="#"
                        id="btnSlotsManagement"><span
                        class="caret"></span> Gestión de Slots </a>
                    <ul class="dropdown-menu" id="slotsDropdownMenuButton">
                        <li><a href="/prf/slot/add">Nuevo slot</a></li>
                        <li><a href="/prf/slot/list">Ver slots</a></li>
                    </ul></li>
                <li id="reports-menu" class="dropdown"><a
                        class="dropdown-toggle" data-toggle="dropdown" href="#"
                        id="btnReportsManagement"><span
                        class="caret"></span> Gestión de Informes </a>
                    <ul class="dropdown-menu" id="reportsDropdownMenuButton">
                        <li><a href="/prf/report/list">Ver listado</a></li>
                    </ul></li>
            {% endif %}
            {% if username != null and role != null and role === "administrator" %}
                <li id="management-menu" class="dropdown"><a
                        class="dropdown-toggle" data-toggle="dropdown" href="#"
                        id="btnManagement"><span
                        class="caret"></span> Gestión de Grupos </a>
                    <ul class="dropdown-menu" id="managementDropdownMenuButton">
                        <li><a href="/adm/file/add">Carga por fichero</a></li>
                    </ul></li>
                <li id="adminReports-menu" class="dropdown"><a
                        class="dropdown-toggle" data-toggle="dropdown" href="#"
                        id="btnAdminReportsManagement"><span
                        class="caret"></span> Gestión de Informes </a>
                    <ul class="dropdown-menu" id="adminReportsDropdownMenuButton">
                        <li><a href="/adm/noslot-report/list">Notificaciones sin slot asociado</a></li>
                        <li><a href="/adm/signal-report/list">Señales de vida de la extensión</a></li>
                    </ul></li>
                <li id="backups-menu" class="dropdown"><a
                        class="dropdown-toggle" data-toggle="dropdown" href="#"
                        id="btnBackupsRestorement"><span
                        class="caret"></span> Gestión de Backups </a>
                    <ul class="dropdown-menu" id="backupsRestorementDropdownMenuButton">
                        <li><a href="/adm/back/rest">Restaurar backup</a></li>
                        <li><a href="/adm/back/del">Eliminar backup</a></li>
                    </ul></li>
                <li id="configuration-menu" class="dropdown"><a
                        class="dropdown-toggle" data-toggle="dropdown" href="#"
                        id="btnConfigurationMenu"><span
                        class="caret"></span> Configuración </a>
                    <ul class="dropdown-menu" id="configurationDropdownMenuButton">
                        <li><a href="/adm/conf/edit">Configuraciones</a></li>
                    </ul></li>
            {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if username == null %}
                <li><a href="/login" id="navSignup"> <span
                        class="glyphicon glyphicon-log-in"></span><span class="logInLogOutButtons">Iniciar sesión</span>
                </a></li>
                {% else %}
                <li><a href="/logout" id="navLogout"> <span
                        class="glyphicon glyphicon-log-out"></span><span class="logInLogOutButtons">Cerrar sesión</span>
                </a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

{% block body %}
{% endblock %}


<footer class="footer">
    <div class="container">
        <span class="text-muted">EyeSecure v2.1.0</span>
    </div>
</footer>


</body>
</html>
